body {
  margin: 0;
  margin-top: 0px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.logo img { /* Seletor para a imagem dentro do div.logo */
    width: 78px; /* Tamanho da logo */
    height: auto;
    display: inline-block; /* Importante para controle de imagem */
    margin-right: 100px; /* Espaço entre a logo e o H1 */
    margin-left: 10px;
    position: relative;
    top: 20px;
}

h1 {
    color: rgb(9, 73, 13);
    font-size: 65px;
    font-family: 'MontSerrat' sans-serif;
    margin-left: 115px;
    position: relative; /* Define o contexto para 'top' */
    top: 70px; 
    margin-top: -130px;
    font-weight: bold;
}

p {
    color: rgb(12, 79, 17);
    font-size: 18px;
    margin-left: 129px;
    position: relative; /* Define o contexto para 'top' */
    top: 20px; 
}

header {
  background: linear-gradient(90deg, #92df82, #0c7676);
  color: white;
  padding: 20px;
  display: flex;
  margin-right: auto;
  align-items: center;
  
}

nav {
    display: flex; /* Torna a nav um contêiner flexível */
    justify-content: flex-end; /* Opcional: Alinha todos os itens da nav para a direita */
    align-items: center;
}     

nav a {
  margin: 0 15px; 
  font-size: 25px;
  color: white;
  font-family: 'Glacial Indifference' sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;  
  
}

nav .Home{
  margin-left: 220px;
}

nav .botao-verde {
  background-color: #6bb75b;
  font-family: 'Open Sans' sans-serif;
  font-size: 20px;
  padding: 20px 70px;
  border-radius: 8px;
  margin-left: 14px;
}

#logo {
    margin-left: 20px;
}